/* الحاوية الكبيرة */
.container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: lightgray;
  margin: 50px auto;
}

/* حركة الدخول */
@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* التنسيق المشترك للمربعات */
.box {
  width: 50px;
  height: 50px;
  background-color: #4682B4;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  font-family: sans-serif;
  font-size: 14px;

  /* Animation */
  opacity: 0;
  animation: fadeInMove 0.8s ease-out forwards;
}

/* توزيع المربعات + تأخير الحركة */
.one {
  top: 0;
  left: 0;
  animation-delay: 0.2s;
}

.two {
  top: 0;
  right: 0;
  animation-delay: 0.5s;
}

.three {
  bottom: 0;
  right: 0;
  animation-delay: 0.8s;
}
