/* تنسيق الصفحة بالكامل */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* تنسيق العنوان */
h1 {
    color: #ff4500;
    font-size: 36px;
}

/* تنسيق النص */
p {
    color: #333333;
    font-size: 18px;
}

/* تنسيق الرابط */
a {
    color: #1e90ff;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: red;
}
